@page-background-color: #e0e5ec;
@border-color: #f2f2f2;

@section-margin-top: 24px;
@section-padding-horizontal: 30px;

@padding-horizontal: 15px;
@padding-horizontal-negative: -30px;

@navigation-bar-height: 128px;

@tab-bar-height: 90px;

@main-color: #507DDC;

@first-font-color: #28272b;
@second-font-color: #6b6b6b;
